NODE_ENV = production

# 数据库配置
MYSQL_USERNAME = root
MYSQL_PASSWORD = MYSQL_PASSWORD
MYSQL_DATABASE = MYSQL_DATABASE

# Redis 配置
REDIS_PASSWORD = REDIS_PASSWORD

# 邮箱配置
EMAIL_FROM=123@qq.com
EMAIL_HOST=smtp.qq.com
EMAIL_SECURE=true
EMAIL_PORT=465
EMAIL_CODE=123456
 
# OpenAI API 配置
OPENAI_API_KEY=sk-
OPENAI_API_MODEL=deepseek-chat
OPENAI_API_BASE_URL=https://api.openai.com/v1
OPENAI_API_TEMPERATURE=0.7
OPENAI_API_MAX_TOKENS=1024